/*
@import url(//db.onlinewebfonts.com/c/f03febe581b686cbac1e6d5cb7677df3?family=04b);
@font-face {font-family: "04b";
    src: url("//db.onlinewebfonts.com/t/f03febe581b686cbac1e6d5cb7677df3.eot");
    src: url("//db.onlinewebfonts.com/t/f03febe581b686cbac1e6d5cb7677df3.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f03febe581b686cbac1e6d5cb7677df3.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f03febe581b686cbac1e6d5cb7677df3.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f03febe581b686cbac1e6d5cb7677df3.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f03febe581b686cbac1e6d5cb7677df3.svg#04b") format("svg");
}

*/


html{
    height: 100%;
}

.grass{
    background-color: #23D406 !important;
}
.ground{

    background-color: #EEBE41 !important;
     top:150px;
}
.fight{
    background-color: #FF0E1C !important;
    top:150px;
}
.bug{
    background-color: #6FBB55 !important;
    top:150px;
}
.normal {
    background-color: #BFBBBB !important;
    top:150px;
    
}

.fly {
    background-color: #61B2CC !important;
    top:150px;
}
.dragon {
    background-color: #DF6262 !important;
    top:150px;
}
.psychic{
    background-color: #E24FC2 !important;
    top:150px;
}
.ice{
    background-color: #00D1FF !important;
    top:150px;
}


body{
    background-color : #095573 !important;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    
}
.navbar{
    background-color: #DFDFDF;
}

.p-4{
    background-color: #69D7CF;
}





.col-8{
    background-color: #FCE94D;
    border-radius: 2rem;
    z-index:0;

}


.card{
        background-color : #69D7CF !important;
        
        width: 10rem !important;
        height:15rem ;
        z-index:1; 
    }
.card-img-top{
         width: 8rem !important;
         height: 8rem;
         margin-left: auto;
         margin-right: auto;
     }

.content{
    z-index:1; 
    flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#nav-footer{
    z-index:1; 
    flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

#nav-footer {
    z-index:1; 
    background-color: #3a3f46;
    color: white;
}

#nav-footer .row {
    z-index:1; 
    margin-bottom: 60px;
}

#nav-footer .info{
    z-index:1; 
    text-align: justify; 
    color: #afb0b1;
}

#nav-footer ul {
    z-index:1; 
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#nav-footer h5 {
    z-index:1; 
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#nav-footer a {
    z-index:1; 
    color: #d2d1d1;
    text-decoration: none;
}

#nav-footer a:hover,
#nav-footer a:focus {
    z-index:1; 
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 767px) {
    #nav-footer {
        z-index:1; 
        text-align: center;
    }

    #nav-footer .info{
        text-align: center;
    }
}




/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */
