html{
    height: 100%;
}

body{
    background-color : #095573 !important;
    
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}
 
.logo{
    margin-top: 5px;
    margin-bottom: 20px;
}

.Grass, .Ground, .Fighting, .Bug, .Normal, .Flying, .Dragon,
.Psychic, .Ice, .Fairy, .Steel, .Poison, .Fire, .Dark, .Rock,
.Ghost, .Electric, .Water {
    top:150px;
    width:6rem;
}
.Grass{
    background-color: #23D406 !important;
}
.Ground{
    background-color: #EEBE41 !important;
}
.Fighting{
    background-color: #FF0E1C !important;
}
.Bug{
    background-color: #6FBB55 !important;
}
.Normal {
    background-color: #BFBBBB !important;
}
.Flying {
    background-color: #61B2CC !important;
}
.Dragon {
    background-color: #DF6262 !important;
}
.Psychic{
    background-color: #E24FC2 !important;
}
.Ice{
    background-color: #00D1FF !important;
}
.Fairy{
    background-color: #FFA6A6 !important;
    width:6rem;
}
.Steel{
    background-color: #B4D3DD !important;
    width:6rem;
}
.Poison{
    background-color: #CC77CE !important;  
}
.Fire{
    background-color: #E45708 !important;
}
.Dark{
    background-color: #4F4949 !important;
    width:6rem;
}
.Rock{
    background-color: #948964 !important;
}
.Ghost{
    background-color: #B74FC0 !important;
}
.Electric{
    background-color: #E5E947 !important;
}
.Water{
    background-color: #0B63E9 !important;
}

#calculo{
    text-align: center;
    font-size: 2rem;
    color: white;
}


.navbar{
    background-color: #DFDFDF;
    
}

.p-4{
    background-color: #69D7CF;
}

.btn-success{
    border-color:#69D7CF !important;
    font-size: 1.1rem !important; 
    color: black !important;
}



.card {
    background-color : #69D7CF !important;
    display: block !important;
    width: 10rem !important;
    height:15rem ;
    
}

.card-img-top {
    margin-left: auto;
    margin-right: auto;
    width: 75% !important;
}

.content{
    z-index:1; 
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}


#nav-footer{
    z-index:1; 
    flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

#nav-footer {
    z-index:1; 
    background-color: #3a3f46;
    color: white;
}

#nav-footer .row {
    z-index:1; 
    margin-bottom: 60px;
}

#nav-footer .info{
    z-index:1; 
    text-align: justify; 
    color: #afb0b1;
}

#nav-footer ul {
    z-index:1; 
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#nav-footer h5 {
    z-index:1; 
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#nav-footer a {
    z-index:1; 
    color: #d2d1d1;
    text-decoration: none;
}

#nav-footer a:hover,
#nav-footer a:focus {
    z-index:1; 
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 767px) {
    #nav-footer {
        z-index:1; 
        text-align: center;
    }

    #nav-footer .info{
        text-align: center;
    }
}
